main {
	background: #FAF1E4;
	border-left: 3px solid #435334;
	border-right: 3px solid #435334;
	box-shadow: 0 0 15px rgb(158, 179, 132);
	height: 100%;
	padding: 2rem;
	margin: 0 auto;
	max-width: 50rem;
}

.orange {
	fill: #c98928;
}

.black {
	fill: #000000;
}

.tortishell {
	fill: url('#tortishell');
}

.dilute {
	fill: #ffffff;
	opacity: 50%;
}