main {
	background: #FAF1E4;
	border-left: 1px solid #435334;
	border-right: 1px solid #435334;
	box-shadow: 0 0 15px rgb(158, 179, 132);
	min-height: 100vh;
	padding: 2rem;
	margin: 0 auto;
	max-width: 50rem;
}
