main {
	background: #FAF1E4;
	border-left: 1px solid #435334;
	border-right: 1px solid #435334;
	box-shadow: 0 0 15px rgb(158, 179, 132);
	min-height: 100vh;
	padding: 2rem;
	margin: 0 auto;
	max-width: 50rem;
}

.cat {
	display: grid;
	grid-template-columns: 1fr;

	@media (min-width: 50rem) {
		grid-template-columns: 500px auto;
	}

	svg {
		max-width: 100%;
	}
}

.orange {
	fill: #c98928;
}

.black {
	fill: #000000;
}

.tortishell,
.calico {
	fill: url('#tortishell');
}

.white {
	fill: #ffffff;
}

.dilute {
	fill: #ffffff;
	opacity: 50%;
}

.border {
	fill: transparent;
	stroke: #000000;
	stroke-width: 2px;
}