.cat {
	margin: 0 auto;
	max-width: 500px;

	svg {
		max-width: 100%;
	}
}

.orange {
	fill: #c98928;
}

.black {
	fill: #141414;
}

.brown {
	fill: #442A13;
}

.tortishell,
.calico {
	fill: url('#tortishell');
}

.cinnamon {
	fill: #7E513A;
}

.white {
	fill: #ffffff;
}

.dilute {
	fill: #ffffff;
	opacity: 50%;
}

.border {
	fill: transparent;
	stroke: #000000;
	stroke-width: 2px;
}